.whatsapp-button.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.whatsapp-popup {
    position: fixed;
    bottom: 80px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    display: none;
    width: 300px; /* Adjust width as needed */
}

.whatsapp-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.whatsapp-popup-header h4 {
    margin: 0;
}

#closeWhatsappPopup {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.whatsapp-popup-body {
    text-align: center;
}

.whatsapp-button-link {
    /* Add styling for the link to match the button */
}
